<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mahmo/IdeaProjects/untitled14/src/test/java/Tests">
        <classes>
            <class name="Tests.HomePageTest">
                <methods>
                    <include name="isHomePageVisible"/>
                    <include name="selectProduct"/>
                </methods>
            </class>
            <class name="Tests.ProductTest">
                <methods>
                    <include name="checkEmpty"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>